{% extends "shared/_layout.html" %}
{% block title %}About Shannon Pilots{% endblock %}

{% block main_content %}
<div class="page-core">
  <h1>Calculate Distance To Kilcreadaun</h1>
  <form class="col-md-9" id="mtinfo">
    <input id="mt_string" oninput="getPosition()" name="mt_string" type="text"
      placeholder=" Marine Traffic Position Info" class="form-control">
  </form>


  <div class="container-fluid m-2">
    <h2>Ships Position</h2>

  </div>
  <div class="container">
  <form class="position-form" id="myForm">
    <div class="row">
      <div class="longText">
        Lat
      </div>
      <div class="col-md-1">
        <input name="lat_deg" class="form-control number_input" id="lat_deg" type="number" placeholder="52.000" step="0.01" min="0" max="90" value="{{lat}}">
      </div>
      <div class="extraText">
        &deg;
      </div>

      <div class="col-md-1">
        <input name="lat_min" class="form-control number_input" id="lat_min" type="number" placeholder="0.0" step="0.1" min="0"
          max="60">
      </div>
      <div class="extraText">
        '
      </div>
      <div class="longText">
        Long
      </div>
      <div class="col-md-1">
        <input name="long_deg" class="form-control number_input" id="long_deg" type="number" placeholder="9.000" step=".01" min="-30"
          max="100" value="{{long}}">

      </div>
      <div class="extraText">
        &deg;
      </div>
      <div class="col-md-1">
        <input name="long_min" class="form-control number_input" id="long_min" type="number" placeholder="0.0" step="0.1" min="0"
          max="60">
      </div>
      <div class="extraText">
        '
      </div>

      <div class="longText">
        Speed
      </div>
      <div class="col-md-1">
        <input name="speed" class="form-control number_input" id="speed" type="number" placeholder="10.0" step="0.1" min="0"
          max="30" value="{{speed}}">
      </div>
      <div class="longText">
        Kts
      </div>

      <div class="longText">
        Delay
      </div>
      <div class="col-md-1">
        <input name="delay_hrs" class="form-control number_input" id="Delay_hrs" type="number" placeholder="00" step="1" min="0"
          max="120" value="{{delay}}">
      </div>
      <div class="extraText">
        hr
      </div>
      <div class="col-md-1">
        <input name="delay_min" class="form-control number_input" id="Delay_min" type="number" placeholder="0" step="1" min="0" max="60">
      </div>
      <div class="extraText">
        min
      </div>
    </div>
<!--      Submit button outside form so it is not submitted but dealt with in position.js-->
  </form>
<div class="row">
  <div class="col">
      <button class="btn btn-primary position-form-button" onclick="main()">Submit</button>
  </div>
    </div>
</div>


			<div class="container">
				<div class="row">
					<div class = "col-md-5">
                      <table class="table">
							<tbody>
								<tr>
									<td class="standback" >From</td>
									<td id="timeSeen"></td>
								</tr>
                                <tr>
									<td class="standback">ETA Kilcreadan</td>
									<td id="ETAKil"></td>
								</tr>
                                <tr>
									<td class="standback">ETA Scattery</td>
									<td id="ETAScattery"></td>
								</tr>
								<tr>
									<td class="standback">Next Waypoint</td>
									<td id="WP"></td>
								</tr>
								<tr>
									<td class="standback">Distance to WP</td>
									<td id="WPdist"></td>
								</tr>
								<tr>
									<td class="standback">Distance to Kilcreadan</td>
									<td id="KillDist"> miles</td>
								</tr>

								<tr>
									<td class="standback">Time to Kilcreadan</td>
									<td id="KillTime"> hrs</td>
								</tr>

                                <tr>
									<td class="standback">Distance to Scattery</td>
									<td id="ScatDist"> miles</td>
								</tr>

							</tbody>
						</table>
					</div>

					<div class = "col-md-7" id="map"> </div>

						</div>
					</div>

</div>

{% endblock %}

{% block additional_css %}
<link rel="stylesheet" href="/static/css/position.css">
{% endblock %}

{% block additional_js %}
<!--
<script>var waypoints = {{waypoints}};
</script>-->
        {{ super() }}
        {{ moment.include_moment() }}
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDA7XS-zaOCSg-ldJKFzxkYbHhZxO5UyR4&libraries=geometry&callback=initMap">
    </script>

<script src="/static/js/position.js"></script>
{% endblock %}